h1 {
  margin-left: 100px;
  font-weight:400;
}
nav ul, footer ul {
  background-color: #1589FF;
  font-family: 'Times New Roman';
  padding: 2px;
  font-weight: 400;
  !position: fixed; /* Set the navbar to fixed position */
  !top: 50px; /* Position the navbar at the top of the page */
  !width: 100%; /* Full width */
}
nav ul li, {
  display: inline;
  margin-right: 20px;
}
a{
  margin-left: 100px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
a:hover {
  text-decoration: underline;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2d2d86;
  color: white;
  text-align: center;
  font-size: 40px;
}
