body {
  background-color: powderblue;
}
h4 {
  color: green;
}
p {
  color: red;
}
pre {
    font-size: 14px;
    color: green;
    LINE-HEIGHT: 20px;
}
nav ul, footer ul {
  font-family: 'Times New Roman';
  padding: 2px;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #FF4500;
  font-size: 2em;
}
